body {
    background-color: lightgrey;
<<<<<<< HEAD
}

p {
    color: white;
    background-color: pink;
}

li {
    list-style-type: square;
}

.aueb-text {
    color: black;
    background-color: aqua;
}

.aueb-logo {
    width: 1000px;
}

img.aueb-logo {
 border: 2px solid red;
 height: auto;
}

p.aueb-logo {
    border: 2px solid blue;
}

#auebText {
    border: 2px solid green;
}

ul > li {
    color: blue;
}

ul strong {
    background-color: aqua;
}

ul em {
    background-color: beige;
}

ul {
    background-color: blueviolet;
}

li {
    background-color: blueviolet;
}
/* Στην συγκεκριμενη σειρά για να παίξει το css. Να θυμάμαι το (l)o(v)e (f)ear (h)(a)te */
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: yellow;
}

a:focus {
    outline:  none;
    background-color: red;
}

a:hover {
    background-color: green;
}

a:active {
    background-color: orange;
    color: white;
}
=======
}
>>>>>>> bb301a36f117eb6e163b7a44d8b92d1ef2a63fea
