body {
    background-color: lightgrey;
}

p, li {
    color: white;
    background-color: pink;
}

li {
    list-style-type: square;
}

.aueb-text {
    color: black;
    background-color: aqua;
}

.aueb-logo {
    width: 1000px;
}

img.aueb-logo {
 border: 2px solid red;
 height: auto;
}

p.aueb-logo {
    border: 2px solid blue;
}

#auebText {
    border: 2px solid green;
}